<div class="container floater-holder">
  <div class="row">
    <div class="col-xs-12 heading">
      <h1 class="text-uppercase">Support</h1>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-4 widget widget-sendamessage">
      <h2 class="text-uppercase">Send A Message</h2>
      <form role="form">
        <div class="form-group">
          <label for="inputName" class="control-label">Name</label>
          <input type="text" class="form-control input-lg" id="inputName">
        </div>
        <div class="form-group">
          <label for="inputEmail" class="control-label">Email <span class="text-danger">*</span></label>
          <input type="email" class="form-control input-lg" id="inputEmail">
        </div>
        <div class="form-group">
          <label for="inputMessage" class="control-label">Message <span class="text-danger">*</span></label>
          <textarea class="form-control input-lg" rows="5" id="inputMessage"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg">Send Message</button>
        </div>
      </form>
    </div><!-- /.widget-sendamessage -->

    <div class="col-xs-12 col-sm-7 col-md-8 widget widget-faq">
      <h2 class="text-uppercase">Frequently Asked Questions</h2>
      <div class="panel-group" id="accordion">

        <div class="panel panel-primary">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" >
              <p class="panel-title text-white">
                <i class="indicator glyphicon glyphicon-minus-sign text-white"></i>
                What is the best day to send marketing call campaigns?
              </p>
            </a>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>For most clients, the best days to send marketing campaigns are Tuesday, Wednesday and Thursday.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" >
              <p class="panel-title">
                <i class="indicator glyphicon glyphicon-plus-sign"></i>
                What is the best time to send call campaigns?
              </p>
            </a>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" >
              <p class="panel-title">
                <i class="indicator glyphicon glyphicon-plus-sign"></i>
                When should we offer the "press #1 to transfer" option?
              </p>
            </a>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" >
              <p class="panel-title">
                <i class="indicator glyphicon glyphicon-plus-sign"></i>
                When should we customize the Answering Machine message?
              </p>
            </a>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" >
              <p class="panel-title">
                <i class="indicator glyphicon glyphicon-plus-sign"></i>
                Do you have any suggestions on how to create a call script?
              </p>
            </a>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" >
              <p class="panel-title">
                <i class="indicator glyphicon glyphicon-plus-sign"></i>
                How long should the call be?
              </p>
            </a>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" >
              <p class="panel-title">
                <i class="indicator glyphicon glyphicon-plus-sign"></i>
                How do we know how long the audio is going to be before recording it?
              </p>
            </a>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
            </div>
          </div>
        </div>

      </div><!-- /.panel-group -->
    </div><!-- /.widget-faq -->
  </div>
</div><!-- /.dashboard-widgets -->
