<div class="container floater-holder">
  <div class="row">
    <div id="account-widget" class="floating-widget">
      <h2 class="widget-title">My Account</h2>
      <p>Balance: $30.00</p>
      <p>
        <a href="#">(3) Inbox</a><br>
        <a href="#">Add Funds</a><br>
        <a href="#">Support</a><br>
        <a href="#">Logout</a>
      </p>
    </div>
    <div class="col-sm-9 heading">
      <h1 class="text-uppercase">Contact List</h1>
      <p class="text-uppercase"><span class="text-lg"><strong>It’s simple.</strong></span> Simply select the campaigns you wish to conrol. Next select the appropriate command from the dropdown menu and click the “Go” button.</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
    <div class="col-sm-6 widget widget-mylists">
      <h2 class="text-uppercase">My Lists</h2>
      <div class="table-responsive">
        <table class="table table-condensed table-hover table-striped form-inline">
          <thead>
          <tr>
            <th class="table-nobg" width="1%"></th>
            <th class="table-nobg" width="10%"></th>
            <th>ID</th>
            <th>Name</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="table-nobg"><input type="checkbox" value=""></td>
            <td class="table-nobg">
              <select class="form-control input-sm" name="" >
                <option value="-1">Select</option>
                <option value="">Option 1</option>
                <option value="">Option 2</option>
                <option value="">Option 3</option>
              </select>
            </td>
            <td>14647865</td>
            <td>Main List</td>
            <td>1105</td>
          </tr>
          <tr>
            <td class="table-nobg"><input type="checkbox" value=""></td>
            <td class="table-nobg">
              <select class="form-control input-sm" name="" id="">
                <option value="-1">Select</option>
                <option value="">Option 1</option>
                <option value="">Option 2</option>
                <option value="">Option 3</option>
              </select>
            </td>
            <td>14647864</td>
            <td>Secondary List</td>
            <td>455</td>
          </tr>
          <tr>
            <td class="table-nobg"><input type="checkbox" value=""></td>
            <td class="table-nobg">
              <select class="form-control input-sm" name="" id="">
                <option value="-1">Select</option>
                <option value="">Option 1</option>
                <option value="">Option 2</option>
                <option value="">Option 3</option>
              </select>
            </td>
            <td>14647864</td>
            <td>Secondary List</td>
            <td>455</td>
          </tr>
          <tr>
            <td class="table-nobg"><input type="checkbox" value=""></td>
            <td class="table-nobg">
              <select class="form-control input-sm" name="" id="">
                <option value="-1">Select</option>
                <option value="">Option 1</option>
                <option value="">Option 2</option>
                <option value="">Option 3</option>
              </select>
            </td>
            <td>14647864</td>
            <td>Secondary List</td>
            <td>455</td>
          </tr>
          </tbody>
        </table>
      </div>

      <form action="" role="form" class="form-inline">
        <!-- <div class="row"> -->
        <!-- <div class="col-xs-6"> -->
        <select class="form-control" name="selectcampaign" id="selectcampaign">
          <option value="-1">Please select an option</option>
          <option value="">Option 1</option>
          <option value="">Option 2</option>
          <option value="">Option 3</option>
        </select>
        <!-- </div> -->
        <!-- <div class="col-xs-3"> -->
        <button class="btn btn-primary btn-wide" type="button">Go</button>
        <!-- </div> -->
        <!-- </div> -->
      </form>
    </div><!-- /.widget-mylists -->

    <div class="col-sm-6 widget widget-donotcalllists">
      <h2 class="text-uppercase">My Do-Not-Call Lists</h2>
      <div class="row">
        <div class="col-xs-8">
          <p class="text-uppercase">This is a special list that can be used with your campaigns. You can scrub your phone numbers against this list ONLY at the time you are creating a campaign or adding phone numbers to a campaign.</p>

          <div class="btn-group-off donotcalllist-btns">
            <p><button type="button" class="btn btn-primary">Add Numbers ></button>
              <button type="button" class="btn btn-primary">Remove Numbers ></button>
            </p>
            <p><button type="button" class="btn btn-primary">Download List ></button>
              <button type="button" class="btn btn-warning">Delete List ></button>
            </p>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="large-circled">Current<br><span class="text-uppercase text-lg">Total</span><br><span class="value">15</span>
          </div>
        </div>
      </div>
    </div><!-- /.widget-donotcalllists -->
  </div>
</div><!-- /.dashboard-widgets -->