<h2 class="text-uppercase">My Account</h2>
<div class="media">
  <div class="media-left pull-left">
    <img src="../../assets/images/logo-butler.jpg" alt="" width="200" height="200" class="img-responsive pull-left">
  </div>
  <div class="media-text">
    <p><strong>Name: </strong>Matt Erich <br>
      <strong>Company: </strong>Some Company</p>
    <p><button type="button" class="btn btn-primary pull-right btn-account">Add Funds +</button>
      <strong>Funds Available: </strong>
      <strong class="text-primary">$920.25</strong></p>
    <p><strong>Estimated Calls Left: </strong>
      <span class="text-primary">10,250</span></p>
    <p><button type="button" class="btn btn-primary pull-right btn-account">My Inbox ></button>
      <strong>Inbox: </strong>3 New Messages</p>
  </div>
</div>
<div class="text-right action-btns">
  <button type="button" class="btn btn-primary" [routerLink]="['/account']">My Account ></button>
  <button type="button" class="btn btn-primary" [routerLink]="['/account']">Edit Account ></button>
</div>