<h2 class="text-uppercase">My Campaigns</h2>
<div class="table-responsive">
  <table class="table table-condensed table-hover table-striped">
    <thead>
    <tr>
      <th class="table-nobg" width="1%"></th>
      <th>Name</th>
      <th>Type</th>
      <th>Status</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="text-right table-nobg"><button type="button" class="btn btn-primary pull-right">Edit</button></td>
      <td>North Central</td>
      <td>CallCenterConnect</td>
      <td>Running</td>
      <td>100</td>
    </tr>
    <tr>
      <td class="text-right table-nobg"><button type="button" class="btn btn-primary pull-right">Edit</button></td>
      <td>North Central</td>
      <td>CallCenterConnect</td>
      <td>Running</td>
      <td>100</td>
    </tr>
    <tr>
      <td class="text-right table-nobg"><button type="button" class="btn btn-primary pull-right">Edit</button></td>
      <td>North Central</td>
      <td>CallCenterConnect</td>
      <td>Running</td>
      <td>100</td>
    </tr>
    <tr>
      <td class="text-right table-nobg"><button type="button" class="btn btn-primary pull-right">Edit</button></td>
      <td>North Central</td>
      <td>CallCenterConnect</td>
      <td>Running</td>
      <td>100</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="text-right action-btns">
  <button type="button" class="btn btn-primary" [routerLink]="['/campaigns']">All Campaigns ></button>
  <button type="button" class="btn btn-primary" [routerLink]="['/campaigns']">New Campaign ></button>
</div>