<div class="container floater-holder">
  <div class="row">
    <div id="account-widget" class="floating-widget">
      <h2 class="widget-title">My Account</h2>
      <p>Balance: $30.00</p>
      <p>
        <a href="#">(3) Inbox</a><br>
        <a href="#">Add Funds</a><br>
        <a href="#">Support</a><br>
        <a href="#">Logout</a>
      </p>
    </div>
    <div class="col-xs-12 col-sm-10 heading">
      <h1 class="text-uppercase">Sounds</h1>
      <p class="text-uppercase"><span class="text-lg"><strong>It’s simple.</strong></span> ADD AND REVIEW YOUR AUDIO FILES HERE. WE HAVE GIVEN YOU 2 easy WAYS TO ADD SOUNDS. Uploading files is fast and easy if you prerecord your calls. The phone option is great if you need to record audio on the go or don’t have easy access to a computer that records your audio.</p>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <h2 class="circled">1</h2>
      <h4 class="text-center text-uppercase">Upload</h4>
      <p>Click the select file dropdown below, find your file and click save.</p>
      <form action="" role="form" class="form-inline">
        <!-- <div class="row"> -->
        <!-- <div class="col-xs-9 col-sm-8"> -->
        <select class="form-control" name="selectcampaign" id="selectcampaign">
          <option value="-1">Please select an option</option>
          <option value="">Option 1</option>
          <option value="">Option 2</option>
          <option value="">Option 3</option>
        </select>
        <!-- </div> -->
        <!-- <div class="col-xs-3"> -->
        <button class="btn btn-primary btn-wide" type="button">Upload</button>
        <!-- </div> -->
        <!-- </div> -->
      </form>
    </div>
    <div class="col-sm-5">
      <h2 class="circled">2</h2>
      <h4 class="text-center text-uppercase">Phone</h4>
      <p>You may record sound files using our recording interface. All recorded sounds will be listed below.
        Please call 1-213-221-3804. When prompted enter Id: 42155#  and Password: 5623#</p>
    </div>
  </div>
</div><!-- /.pie-charts -->

<div class="container dashboard-widgets">
  <div class="row">
    <div class="col-xs-12 widget widget-mysounds">
      <h2 class="invisible">Sounds Details</h2>
      <div class="table-responsive">
        <table class="table table-condensed table-hover table-striped">
          <thead>
          <tr>
            <th class="table-nobg" width="1%"></th>
            <th width="10%">ID</th>
            <th width="20%">Name</th>
            <th width="20%">Filename</th>
            <th width="1%"></th>
            <th width="1%"></th>
            <th width="1%"></th>
            <th width="1%"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="table-nobg"><span class="glyphicon glyphicon-dot text-primary" title="Active"></span></td>
            <td>10641965</td>
            <td>North Central
              <a href="#"><img src="../../assets/images/icon-edit-circle.png" alt="Edit"></a>
            </td>
            <td>audio.mp3</td>
            <td class="table-nobg">
              <button type="button" class="btn btn-primary">Play</button>
            </td>
            <td class="table-nobg">
              <button type="button" class="btn btn-primary">Download ></button>
            </td>
            <td class="table-nobg">
              <button type="button" class="btn btn-warning btn-fixedwidth">Delete ></button>
            </td>
            <td class="table-nobg"></td>
          </tr>
          <tr>
            <td class="table-nobg"><span class="glyphicon glyphicon-dot text-primary" title="Inactive"></span></td>
            <td>10641965</td>
            <td>North Central
              <a href="#"><img src="../../assets/images/icon-edit-circle.png" alt="Edit"></a>
            </td>
            <td>original campaign.mp3</td>
            <td class="table-nobg">
              <button type="button" class="btn btn-primary">Play</button>
            </td>
            <td class="table-nobg">
              <button type="button" class="btn btn-primary">Download ></button>
            </td>
            <td class="table-nobg">
              <button type="button" class="btn btn-warning btn-fixedwidth">Delete ></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div><!-- /.widget-mysounds -->
  </div>
</div><!-- /.dashboard-widgets -->

<cml-footer ></cml-footer>